*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: "Arial";
	background: url('../images/background.jpg')no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
nav{
	Background: #F5F5DC;
	height: 80px;
	width: 100%;
}
label.Logo{
	color: black;
	font-size: 35px;
	line-height: 80px;
	padding: 0 50px;
}
nav ul{
	float: right;
	margin-right: 20 px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 30px;	
}
nav ul li a{
	color: black;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}
a.active,a:hover{
	background: #FFFFFF;
	transition: .5s;
}
.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}
h1 {
	color: black;
	text-align: center;
	font-family: "Copperplate", fantasy;
	font-size: 90px;
	width: 100%;
	display: inline-block;
	margin: 20px 0px;
}
.box {
	height: 50px;
	display: flex;
	cursor: pointer;
	padding: 10px 20px;
	background: #fff;
	border-radius: 30px;
	align-items: center;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
	margin-left: 520px;
	margin-right: 520px;
	margin-bottom: 50px;
}
.box:hover input{
	width: 400px;
}
.box input {
	width: 0;
	outline: none;
	border: none;
	font-weight: 500;
	transition: 0.8s;
	background: transparent;
}
.box a.fas{
	color: #1daf;
	font-size: 18x;
}
h3 {
	text-align: center;
	font-size: 30px;
	margin: 0;
	padding-top: 10px;
}
a {
	text-decoration: none;
}
h2 {
	color:	black;
	text-align: center;
	font-family: "Arial";
	font-size: 60px;
	margin: auto;
	padding: 10px, 15px, 10px, 15px;
	width: 800px;
	margin-bottom: 20px;
}
.Gallery {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}
.Content {
	width: 20%;
	margin: 15px;
	box-sizing: border-box;
	float: left;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	padding-top: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
	0 10px 10px rgba(0, 0, 0, 0.22);
	transition: .4s;
	background: #f2f2f2;
}
.Content:hover {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
	0 3px 6px rgba(0, 0, 0, 0.23);
	transform: translate(0px, -8px);
}
img {
	width: 252px;
	height: 200px;
	text-align: center;
	margin: 0 auto;
	display: block;
}
p {
	text-align: center;
	color: black;
	font-family: "Arial";
	font-size: 20px;
	padding-top: 0 8px;
}
button {
	text-align: center;
	font-size: 24px;
	color: #fff;
	width: 100%;
	padding: 15px;
	border: 0;
	outline: none;
	cursor: pointer;
	margin-top: 5px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
.Visit-1 {
	background: #FFFDD0;
}
.Visit-2 {
	background: #74A12E ;
}
.Visit-3 {
	background: #C4A484;
}
.Visit-4 {
	background: #F0EAE5;
}
.Gallery2 {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}
.Content2 {
	width: 20%;
	margin: 15px;
	box-sizing: border-box;
	float: left;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	padding-top: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
	0 10px 10px rgba(0, 0, 0, 0.22);
	transition: .4s;
	background: #f2f2f2;
}
.Content2:hover {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
	0 3px 6px rgba(0, 0, 0, 0.23);
	transform: translate(0px, -8px);
}
p {
	text-align: center;
	color: black;
	font-family: "Arial";
	font-size: 20px;
	padding-top: 0 8px;
}
button {
	text-align: center;
	font-size: 24px;
	color: #fff;
	width: 100%;
	padding: 15px;
	border: 0;
	outline: none;
	cursor: pointer;
	margin-top: 5px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
.Visit-5 {
	background: #FFFDD0;
}
.Visit-6 {
	background: #74A12E ;
}
.Visit-7 {
	background: #C4A484;
}
.Visit-8 {
	background: #F0EAE5;
}

.Gallery3 {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}	
.Content3 {
	width: 20%;
	margin: 15px;
	box-sizing: border-box;
	float: left;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	padding-top: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
	0 10px 10px rgba(0, 0, 0, 0.22);
	transition: .4s;
	background: #f2f2f2;
}
.Content3:hover {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
	0 3px 6px rgba(0, 0, 0, 0.23);
	transform: translate(0px, -8px);
}
p {
	text-align: center;
	color: black;
	font-family: "Arial";
	font-size: 20px;
	padding-top: 0 8px;
}
button {
	text-align: center;
	font-size: 24px;
	color: #fff;
	width: 100%;
	padding: 15px;
	border: 0;
	outline: none;
	cursor: pointer;
	margin-top: 5px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
.Visit-9 {
	background: #FFFDD0;
}
.Visit-10 {
	background: #74A12E ;
}
